Flask==1.1.1
flask-googlemaps==0.4.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
html5lib==1.0.1
Jinja2==2.11.1
jmespath==0.9.4
jsbeautifier==1.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pyasn1==0.4.8
pycodestyle==2.5.0
SQLAlchemy==1.3.13
sqlparse==0.3.0
termcolor==1.1.0
tinycss2==1.0.2
tqdm==4.42.1
twython==3.7.0
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==16.7.9
WeasyPrint==49
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.11.2
