{% extends "layout.html" %}

{% block title %}
    {{title}}

{% endblock %}

{% block body %}
     <div>
        <h4 style="font-family:Verdana;">{{ title }}</h4>
        <br>
         <li>(Place holder for actions for this notice) </li>
    </div>


    <div>
        {% for address in addresses[-1:] %}
            <input id="address" type="hidden" value="{{ address.address }}">
            <input type="button" value="Find Local Legal Aid Help" onclick="codeAddress()">
        {% endfor %}
    </div>

    <div id="map"></div>

    <div id="listing">
        <table id="resultsTable">
            <tbody id="results"></tbody>
        </table>
    </div>

    <div style="display: none">
        <div id="info-content">
            <table>
                <tr id="iw-url-row" class="iw_table_row">
                    <td id="iw-icon" class="iw_table_icon"></td>
                    <td id="iw-url"></td>
                </tr>
                <tr id="iw-address-row" class="iw_table_row">
                    <td class="iw_attribute_name">Address:</td>
                    <td id="iw-address"></td>
                </tr>
                <tr id="iw-phone-row" class="iw_table_row">
                    <td class="iw-attribute_name">Telephone:</td>
                    <td id="iw-address"></td>
                </tr>
                <tr id="iw-phne-row" class="iw_table_row">
                    <td class="iw_attribute_name">Rating:</td>
                    <td id="iw-rating"></td>
                </tr>
                <tr id="iw-website-row" class="iw_table_row">
                    <td class="iw_attribute_name">Website:</td>
                    <td id="iw-website"></td>
                </tr>
            </table>
        </div>
    </div>



    <script>
    //I used the google maps javascript api for referece
    // https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-hotelsearch
        var geocoder;
        var map, places, infoWindow;
        var markers = [];
        var MARKER_PATH = 'https://developers.google.com/maps/documentation/javascript/images/marker_green';
        var hostnameRegexp = new RegExp('^https?://.+?/');


        //initiating the map
        function initMap() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(36.7783, -119.4179);
            var mapOptions = {
                zoom: 7,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infoWindow = new google.maps.InfoWindow({
                content: document.getElementById('info-content')
            });

            places = new google.maps.places.PlacesService(map);


        //This line here I beleive works in conjuction with the 'addlistener' for the autcomplete
        //In the google maps api documentatoin the two lines are together

        }


         //This is the function to zoom in after obtaining the details

        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode( {'address': address}, function(results, status) {
                if (status == "OK") {
                    map.panTo(results[0].geometry.location);
                    map.setZoom(12)
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    search();
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        function search() {
            var search = {
                bounds: map.getBounds(),
                types: ['legal aid']
            };

            places.nearbySearch(search, function(results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    clearResults ();
                    clearMarkers ();
                    // Create a marker for each institution found, and
                    // assign a letter of the alphabetic to each marker icon.
                    for (var i = 0; i < results.length; i++) {
                        var markerLetter = String.fromCharCode('A' .charCodeAt(0) + (i % 26));
                        var markerIcon = MARKER_PATH + markerLetter + '.png';
                        // Use marker animation to drop the icons incrementally on the map.
                        markers[i] = new google.maps.Marker({
                            position: results[i].geometry.location,
                            animation: google.maps.Animation.DROP,
                            icon: markerIcon
                        });
                        // If the user clicks a institution marker, show the details of that hotel
                        // in an info window.
                        markers[i].placeResult = results[i];
                        google.maps.event.addListener(markers[i], 'click', showInfoWindow);
                        setTimeout(dropMarker(i), i * 100);
                        addResult(results[i], i);
                    }
                }
            });
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                if (markers[i]) {
                    markers[i].setMap(null);
                }
            }
            markers = []
        }

        function dropMarker(i) {
            return function() {
                markers[i].setMap(map);
            };
        }

        function addResult(result, i) {
            var results = document.getElementById('results');
            var markerLetter = String.fromCharCode('A' .charCodeAt(0) + (i % 26));
            var markerIcon = MARKER_PATH + markerLetter + '.png';


            var tr = document.createElement('tr');
            tr.style.backgroundColor = (i % 2 === 0 ? '#F0F0F0' : '#FFFFFF');
            tr.onclick = function() {
                google.maps.event.trigger(markers[i], 'click');
            };

            var iconTd = document.createElement('td');
            var nameTd = document.createElement('td');
            var icon = document.createElement('img');
            icon.src = markerIcon;
            icon.setAttribute('class', 'placeIcon');
            icon.setAttribute('className', 'placeIcon');
            var name = document.createTextNode(result.name);
            iconTd.appendChild(icon);
            nameTd.appendChild(name);
            tr.appendChild(iconTd);
            tr.appendChild(nameTd);
            results.appendChild(tr);
        }

        function clearResults() {
            var results = document.getElementById('results');
            while (results.childNodes[0]) {
                results.removeChild(results.childNodes[0]);
            }
        }

        // Get the place details for a hotel. Show the information in an info window,
        // anchored on the marker for the hotel that the user selected.
        function showInfoWindow() {
            var marker = this;
            places.getDetails({placeId: marker.placeResult.place_id},
                function(place, status){
                    if (status !== google.maps.places.PlacesServiceStatus.OK) {
                        return;
                    }
                    infoWindow.open(map, marker);
                    buildIWContent(place);
                });
        }

        // Load the place information into the HTML elements use by the info window.
        function buildIWContent(place) {
            document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' +
                'src="' + place.icon + '" />';
            document.getElementById('iw-url').innerHTML = '<b><a href=" ' + place.url +
                ' ">' + place.name + '</a></b>';
            document.getElementById('iw-address').textContent = place.vicinity;

            if (place.formatted_phone_number) {
                document.getElementById('iw-phone-row').style.display = ' ';
                document.getElementById('iw-phone').textContent =
                    place.formatted_phone_number;
            } else {
                document.getElementById('iw-phone-row').style.display = 'none';
            }

            // Assign a five-star rating to the institution, using a black star ('&#10029;')
            // to indicate the rating of the institution has earned and a white star ('&#10025;')
            // for the rating points not achieved.
            if (place.rating) {
                var ratingHtml = '';
                for (var i = 0; i < 5; i++) {
                    if (place.rating < (i + 0.5)) {
                        ratingHtml += '&#10025;';
                    } else {
                        ratingHtml += '&#10029;';
                    }
                document.getElementById('iw-rating-row').style.display = '';
                document.getElementById('iw-rating').innerHTML = ratingHtml;
                }
            } else {
                document.getElementById('iw-rating-row').style.display = 'none';
            }

            // The regexp isolates the first part of the URL (domain plus subdomain)
            // to give a short URL for displaying in the info window.

            if (place.website) {
                var fullUrl = place.website;
                var website = hostnameRegexp.exec(place.website);
                if (website == null) {
                    website = 'http://' + place.website + '/';
                    fullUrl = website;
                }
                document.getElementById('iw-website-row').style.display = '';
                document.getElementById('iw-website').textContent = website;
            } else {
                document.getElementById('iw-website-row').style.display = 'none';
            }
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ my_api_key }}&libraries=places&callback=initMap"></script>



    <a href="/">Go Back</a>

{% endblock %}
