<!-- Notice selection page, buttons below form selection options -->

{% extends "layout.html" %}

{% block title %}
    Type of Notice
{% endblock %}

<!-- Reformat the positioning of the buttons. Not a fan of the vertical alignment. Also maybe too many classes for a given tag-->
{% block body %}
    <h3 class='indent' style="font-family:Verdana">Select from below the type of notice recieved.</h3>
    <p class='indent' style="font-family:Verdana;">
        This would be the notice given to you by your landlord.
    </p>
    <br>
    <form action="{{ url_for('action1') }}" method="post">
        <div>
            {% for address in addresses[-1:] %}
                <input type="hidden" name='address_id' value="{{ address.id }}">
            {% endfor %}
        </div>
        <div>
            <button class="form-control; form-group button1" type="submit" name='notice1' value="thirty_sixty_notice" data-value="thirty_sixty_notice">30-60 Day Notice</button>
        </div>
    </form>
    <br>
    <br>
    <form action="{{ url_for('action2') }}" method="post">
        <div>
            {% for address in addresses[-1:] %}
                <input type="hidden" name="address_id" value="{{ address.id }}">
            {% endfor %}
        </div>
        <div style='margin-left:1%'>
            <button class="form-control; form-group button1" type="submit" name="notice2" value="three_day_notice" data-value="three_day_notice">3 Day Notice</button>
        </div>
    </form>
    <br>
    <br>
    <form action="{{ url_for('action3') }}" method="post" >
        <div>
            {% for address in addresses[-1:] %}
                <input type="hidden" name="address_id" value="{{ address.id }}">
            {% endfor %}
        </div>
        <div>
            <button class="form-control; form-group button1" type="submit" name="notice3" value="unlawful_detainer" data-value="unlawful_detainer">Unlawful Detainer</button>
        </div>
    </form>
{% endblock %}

